build/
dependency-reduced-pom.xml
TESTS-TestSuites.xml
junit*.properties
target/
*~
.checkstyle
.settings
.classpath
.project
/bin

# Eclipse
.settings/

# Intellij
.idea/
*.iml
*.iws
dump.rdb

# Mac
.DS_Store
